body {
  background-image: url("./images/clouds-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.App footer {
  font-size: 13px;
  margin: 10px auto;
}
a.link:visited {
  color: rgb(120, 16, 84);
}
