.Weather {
  font-family: Arial, sans-serif;
  border: 2px solid #f6c0ea;
  border-radius: 6px;
  padding: 35px;
  margin: 35px auto;
  max-width: 600px;
  color: rgb(107, 37, 82);
 
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
  line-height: 20px;
}
.Weather canvas {
  margin-right: 10px auto;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(107, 37, 82);
  font-size: 64px;
  line-height: 64px;
  font-weight: 350;
  margin-left: 10px;
  position: relative;
  top:-8px;
}
.Weather .units {
  color: rgb(69, 34, 34);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  line-height: 1;
  top: -40px;
}
.Weather .login{
  background-color: #edbae2;
  color: rgb(107, 37, 82);
}

